@import "tailwindcss";

:root {
  color-scheme: dark;
  touch-action: manipulation;
}

html, body, #root {
  height: 100%;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior: none;
}

body {
  background-color: #020617;
}
